.example-container {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    margin: 10px;
  }

.example-full-width {
    width: 100%;
}

.example-container > * {
    width: 100%;
}
.author-field {
    width: 98%;
    display: flex;
}
.subject-field {
    width: 98%;
    height: 200px;
    display: flex;
}